body{
    padding: rem-calc(16);
    >.row{
        background: $white;
        border: 8px solid $border-color;
        border-radius: rem-calc(16);
        min-height: 100%;
        overflow: hidden;
        @include breakpoint(medium){
            padding: rem-calc(16);
        }
        
        .light-font{
            font-weight: 300;
        }
        
        header{
            @include breakpoint(small down){
                text-align: center;
            }
            .logo{
                @include breakpoint(small down){
                    text-align: center;
                    padding: rem-calc(0 64);
                }
            }
            .title{
                h1{
                    line-height: 2;
                    @include breakpoint(medium down){
                        line-height: 3;
                        font-size: rem-calc(36);
                    }
                    @include breakpoint(small down){
                        line-height: 1.2;
                    }
                }
            }
        }
        
        .twitter-search{
            
            p{
                &:first-child{
                    line-height: 1.5;
                }
            }
            
            form{
                text-align: center;
                label{
                    float: left;
                    &:first-child{
                        width: 70%;
                        margin-right: 5%;
                    }
                    &:nth-child(2){
                        width: 25%;
                    }
                }
            }
            
            .twitter_container{
                border: 1px solid $border-color;
                border-radius: rem-calc(16);
                padding: rem-calc(0 8);
                overflow-y: scroll;
                max-height: 33rem;
                &::-webkit-scrollbar-track{
                    background-color: $border-color;
                }
                .tweet_container{
                    padding-top: rem-calc(16);
                    border-bottom: 1px dashed $border-color;
                    &:last-child{
                        border: none;
                    }
                    //User's profile picture
                    >img{
                        margin-right: rem-calc(8);
                        vertical-align: top;
                        border-radius: rem-calc(8);
                    }
                    >ul{
                        display: inline-block;
                        margin-left: 0;
                        li{
                            padding-right: rem-calc(8);
                            //User's name
                            &:first-child{
                                padding-bottom: rem-calc(4);
                            }
                            //User's @username
                            &:last-child{
                                font-size: $cite-font-size;
                            }
                        }
                    }
                    //Tweet text
                    >p{
                        @include breakpoint(medium){
                            margin-top: rem-calc(16);
                        }
                    }
                }
            }
        }
    }
}